/**
 *
 */

// Test basics
+, a.b.c, [1.0, 2.0)
-, a.b.c, 1.0.0+

+, d.e.f
-, d.e.f

/**
 */

// Test wildcards
+,*,[1.0, 2.0)
-,*,1.0.0+

+, p.q.*,[1.0, 2.0)
-, p.q.*,1.0.0+

+,*
-,*

+, x.y.*
-, x.y.*

