/**
// Comment without closing "*/"

// Test basic

module a.b.c @ 1.0 {
    import module p.q.r @ 1.7.0;
    import module x.y.z @ 2.3.4;
};

// Test wildcards
module a.b.* @ 1.* {
    import module p.q.r @ 1.8.0;
    import module x.y.z @ 2.*;
    import module s.t.u @ 7.8.9;
};

module * {
    import module p.q.r @ [1.0, 2.0);
    import module x.y.z @ [2.0, 3.0);
};
