
importer a.b.c @ 1.0 {
    p.q.r @ 1.7.0;
    x.y.z @ 2.3.4;
};

importer a.b.* @ 1.* {
    // Wildcard is not allowed in the imported module name.
    p.q.* @ 1.8.0;
    x.y.z @ 2.*;
    s.t.u @ 7.8.9;
};

importer * {
    p.q.r @ [1.0, 2.0);
    x.y.z @ [2.0, 3.0);
};
